{% extends 'base.html' %} {% block title %}
<title>Nosotros</title>
{% endblock %} {% block contenedor %}
<div class="mx-auto border-bottom py-4 text-center" style="width: 500px">
  <h1>Nuestra empresa!</h1>
</div>

<p class="mx-auto border border-dark p-4 text-center" style="width: 500px">
  Somos una empresa joven en el mercado, que nos dedicamos a la venta de
  productos para la computadora! Desde perifericos, componentes, sillas y demas.
  Estamos para ayudarte, y mejorar tu experiencia frente a una computadora. Al
  servicio del cliente, SIEMPRE!
</p>
<div class="mx-auto text-center" style="width: 500px">
  <a href="/Products/list-products">
    <button class="btn btn-gral">Ver los productos</button>
  </a>
</div>
{% endblock %}
