<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Bienvenido al inicio!</h1>
    <h3>Desafio 18</h3>
    <p>
      Para este desafio tengo que crear un template, una vista y un modelo. Y la
      clase tiene que tener un numero, una cadena y un boolean!
    </p>
    <a href="/create-product"><button>Crear producto default</button></a>
  </body>
</html>
